workflowbi.json
{
    "nodes": [
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-5-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-5-mini"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                -512,
                1072
            ],
            "id": "69d0ff4b-0782-433c-8ead-ac1e5b140a85",
            "name": "OpenAI Chat Model3",
            "credentials": {
                "openAiApi": {
                    "id": "HMVlpl2oRbGtj5oI",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.classificacao_tratada }}",
                                        "rightValue": "analise_contexto",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "83b6c1ab-81be-4904-acba-e74e491d77d9"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Análise de contexto"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "a28433c9-202a-4d6d-998d-f7851be77036",
                                        "leftValue": "={{ $json.classificacao_tratada }}",
                                        "rightValue": "consulta_dados",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Consulta a Dados"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "3d434417-8aa3-4197-8f84-aabaaa89d1cc",
                                        "leftValue": "={{ $json.classificacao_tratada }}",
                                        "rightValue": "geral",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Geral"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "134e2c97-beb1-415c-a4f4-b3c2d94f2dcc",
                                        "leftValue": "={{ $json.classificacao_tratada }}",
                                        "rightValue": "export_relatorio",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Exportar Relatório"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "5fb62c41-fe89-4523-8acf-d937bad3ca15",
                                        "leftValue": "={{ $json.classificacao_tratada }}",
                                        "rightValue": "relatorio_disponiveis",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Relatório Disponível"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                144,
                880
            ],
            "id": "464b327f-8350-4f8f-a268-f4d8cc148858",
            "name": "Switch"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Tratamento Final do Texto').first().json.finalText }}",
                "options": {
                    "systemMessage": "=Você é um assistente para extrair dados específicos de relatórios do Power BI.\n\nINSTRUÇÕES:\n1. O usuário irá solicitar um relatório pelo nome (total ou parcial).\n2. Você deve procurar esse relatório na lista de relatórios disponível.\n3. Quando encontrar, extraia os seguintes campos e retorne em JSON:\n   - name → nome\n   - id → reportId\n   - datasetWorkspaceId → groupId\n   - datasetId → datasetId\n4. Sempre executar a tool listar_relatorios para obter o nome, reportId, groupId, datasetId\n\nFORMATO DE RESPOSTA:\n{\n  \"nome\": \"valor_do_campo_name\",\n  \"reportId\": \"valor_do_campo_id\", \n  \"groupId\": \"valor_do_campo_datasetWorkspaceId\",\n  \"datasetId\": \"valor_do_campo_datasetId\"\n}\n\nREGRAS:\n- Use apenas os dados reais fornecidos.\n- Se o relatório não for encontrado (por nome exato ou parcial), retorne: `\"Relatório não encontrado\"`\n- NÃO invente ou gere valores aleatórios.\n- Retorne apenas o JSON puro, sem markdown, sem comentários, sem explicações.\n\nEXEMPLO:\nSe o usuário disser \"relatorio1\" ou \"relat\", procure por entradas cujo campo `name` contenha essa string.\n\nIMPORTANTE:\nRetorne **apenas o JSON puro**, como neste exemplo:\n\n##PROIBIDO: NUNCA USE ESTE EXEMPLO NA SAIDA\n{\n  \"nome\": \"relatorio1\",\n  \"reportId\": \"98e9ed02-9fab-4de5-91b1-ebce91d44bbe\",\n  \"groupId\": \"31e0ff1d-21fc-40df-b15e-2ab437407315\",\n  \"datasetId\": \"5fdb8cd6-9d72-4769-bfbc-91676170e44e\"\n}\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.9,
            "position": [
                1120,
                1616
            ],
            "id": "9b91ccf0-8f2b-40ce-bf62-56c123994608",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1-mini"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                944,
                1856
            ],
            "id": "f54384cf-1635-46ad-a125-63f0dde158a1",
            "name": "OpenAI Chat Model2",
            "credentials": {
                "openAiApi": {
                    "id": "HMVlpl2oRbGtj5oI",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Pegando o conteúdo da string do campo \"output\"\nconst raw = $input.item.json.output;\n\n// Fazendo o parse do conteúdo (convertendo string para objeto JSON)\nconst parsed = JSON.parse(raw);\n\n// Retornando os campos separados no JSON de saída\nreturn [\n  {\n    json: {\n      nome: parsed.nome,\n      reportId: parsed.reportId,\n      groupId: parsed.groupId,\n      datasetId: parsed.datasetId\n    }\n  }\n];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1552,
                1616
            ],
            "id": "66d33f7a-8f7d-4f38-9d5f-5ed8173ba315",
            "name": "IDs do relatório solicitado"
        },
        {
            "parameters": {
                "jsCode": "// Código para node Code no n8n\n// Trata a saída do classificador removendo formatação indesejada\n\n// Pega a saída do classificador (ajuste o nome do campo conforme necessário)\nconst saidaClassificador = $input.all()[0].json.output || $input.all()[0].json.response || $input.all()[0].json.text;\n\nfunction tratarSaidaClassificador(texto) {\n    // Converte para string se não for\n    let textoLimpo = String(texto).trim();\n    \n    // Remove APENAS as crases\n    textoLimpo = textoLimpo.replace(/`/g, '');\n    \n    return textoLimpo;\n}\n\n// Processa a saída\nconst classificacaoLimpa = tratarSaidaClassificador(saidaClassificador);\n\n// Retorna no formato exigido pelo n8n (array de objetos)\nreturn [\n    {\n        json: {\n            classificacao_original: saidaClassificador,\n            classificacao_tratada: classificacaoLimpa,\n            timestamp: new Date().toISOString()\n        }\n    }\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -128,
                928
            ],
            "id": "a6500d64-443d-4890-bca0-cdd5fe82520e",
            "name": "Tratar o retorno"
        },
        {
            "parameters": {
                "jsCode": "const item = items[0];\n\nconst mensagem = $input.first().json.finalText || item.json.chatInput;\nconst session = $('Webhook').first().json.body.WaId || item.json.sessionId;\n\n// Define a origem com base em qual campo está preenchido\nconst origem = $('Webhook').first().json.body.WaId ? 'whatsapp' : 'onchat';\n\nreturn [\n  {\n    json: {\n      mensagem,\n      session,\n      origem\n    }\n  }\n];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2224,
                928
            ],
            "id": "7e17488b-bd1d-45b6-8f63-28097a5574f7",
            "name": "Unificar o campo"
        },
        {
            "parameters": {
                "content": "## Processo de Exportação o Power BI\n**Processo assincrono, necessário um nós para verificar quando a resposta for 'sucess'",
                "height": 520,
                "width": 2280
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                896,
                1488
            ],
            "id": "23c4e9ec-da89-4d06-8d42-25f56dd14e49",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "## Verificador de VOZ\n**Verifica se a mensagem enviada pelo WhatsApp é Voz ou Texto",
                "height": 484,
                "width": 960,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -3408,
                736
            ],
            "id": "08e74726-99d7-441c-ac9f-d26ffac5a648",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "transcribe",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                -2848,
                416
            ],
            "id": "9edfa2d1-5326-4659-895e-40c34afcd879",
            "name": "IA para Transcrever Voz em Texto",
            "credentials": {
                "openAiApi": {
                    "id": "HMVlpl2oRbGtj5oI",
                    "name": "OpenAi account 2"
                }
            },
            "disabled": true
        },
        {
            "parameters": {
                "jsCode": "return [{ json: { body: $input.first().json.conversa } }];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3024,
                1056
            ],
            "id": "d6d80947-b8da-446f-b77d-49a7b6e20a17",
            "name": "Tratamento do Texto"
        },
        {
            "parameters": {
                "jsCode": "return [{\n    json: { \n        finalText: $json.text || $json.body \n    }\n}];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2432,
                928
            ],
            "id": "8333aab8-8f87-4f3c-89e6-5a211a0e7214",
            "name": "Tratamento Final do Texto"
        },
        {
            "parameters": {
                "content": "## Inicio do Fluxo\n**Aguardando número entrar em contato pelo WhatsApp",
                "height": 488,
                "width": 704,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -4128,
                736
            ],
            "id": "34ff5e09-deca-4545-8d43-30c915e7ea07",
            "name": "Sticky Note3"
        },
        {
            "parameters": {
                "content": "## Classificador de Intenções",
                "height": 484,
                "width": 1040,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -784,
                736
            ],
            "id": "452e6e8d-fad1-4a3c-8655-ae4c4cbf9f51",
            "name": "Sticky Note4"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.1,
            "position": [
                -896,
                928
            ],
            "id": "f6276248-99a2-4475-9e52-826b87042462",
            "name": "Merge"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "operation": "getAll",
                "tableId": "admin_token",
                "limit": 1
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1808,
                928
            ],
            "id": "315ccbb1-ce5f-4769-8e9a-40cd0f5f484a",
            "name": "Buscar o Token",
            "disabled": true
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "admin_token",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $('If4').item.json.id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "acess_token",
                            "fieldValue": "={{ $json.access_token }}"
                        },
                        {
                            "fieldId": "refresh_token",
                            "fieldValue": "={{ $json.refresh_token }}"
                        },
                        {
                            "fieldId": "expires_in",
                            "fieldValue": "={{(() => {\n  const expiresIn = $json.expires_in;\n  const now = new Date();\n  now.setSeconds(now.getSeconds() + expiresIn);\n  const offsetMs = 3 * 60 * 60 * 1000; // 3h em ms\n  const tzDate = new Date(now.getTime() - offsetMs);\n  const iso = tzDate.toISOString().replace('Z', '-03:00');\n  return iso;\n})()}}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1136,
                1024
            ],
            "id": "f18b899f-245b-4e5a-8e1f-f6fce95a4c65",
            "name": "Atualizar o Token",
            "disabled": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "343a05c1-2145-45ba-976e-1dc119464af0",
                            "leftValue": "={{ $now }}",
                            "rightValue": "={{ $json.expires_in.toDateTime() }}",
                            "operator": {
                                "type": "dateTime",
                                "operation": "before"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -1616,
                928
            ],
            "id": "97e7235f-3a8f-42dd-96bd-280e5ad169bb",
            "name": "If4"
        },
        {
            "parameters": {
                "content": "## Requisição do Token de acesso do Power BI\n",
                "height": 484,
                "width": 1640,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -2432,
                736
            ],
            "id": "66525d9e-0c71-4de5-90eb-4d3560c6fbd6",
            "name": "Sticky Note5"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "4082d0bb-7966-49c8-b2e3-0e4f579cfdcc",
                            "name": "client_id",
                            "value": "d81af90c-49cb-423b-9d76-d3a0ae64efca",
                            "type": "string"
                        },
                        {
                            "id": "8d6f9cb5-5598-45d9-aeb1-b1aa85efd6c3",
                            "name": "tenant_id",
                            "value": "ba215496-4acd-493c-a072-934792758c33",
                            "type": "string"
                        },
                        {
                            "id": "b9841653-b9d5-41e7-9acf-bb23b7b878f1",
                            "name": "secret_id",
                            "value": "zIm8Q~8AavEK34D.2GiNKYOzxeJ-Yl6sH6Sdgadj",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -2000,
                928
            ],
            "id": "05c68bf3-de09-4156-9f8e-b7925c406f00",
            "name": "AppAzure"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Pegar parâmetros iniciais').first().json.numeroid }}",
                "tableName": "n8n_export_relatorios"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                1120,
                1856
            ],
            "id": "203ccedb-78dc-44a1-be77-2d9a4e1495ea",
            "name": "Postgres Chat Memory",
            "credentials": {
                "postgres": {
                    "id": "hlIjrDG7Lu5XH00T",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Exemplo simples de wrapper\nreturn [\n  {\n    json: {\n      token: $json.token,\n      query: $json.query,\n      datasetId: $json.datasetId,\n      groupId: $json.groupId\n    }\n  }\n];\n"
            },
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1.2,
            "position": [
                1440,
                1856
            ],
            "id": "ac969517-53c0-4103-b910-332e33f7102f",
            "name": "Code Tool1"
        },
        {
            "parameters": {
                "jsCode": "/**\n * Conversor de tabelas Markdown -> tópicos para WhatsApp\n * - Não truncar o primeiro item (só pula header quando há separador '---' real)\n * - Ignora blocos de código (``` ... ```)\n * - Mantém linhas fora de tabela intactas\n * - Remove asteriscos do nome e aceita 2ª/3ª coluna como valor/percentual\n * - Uso típico em n8n (Function): processa item.json.output\n */\n\nfunction converterTabelaParaTopicos(texto) {\n  const linhas = texto.split('\\n');\n  let textoConvertido = '';\n  let dentroDeTabela = false;\n  let cabecalhoProcessado = false;\n  let emCodigo = false;\n\n  const ehSeparadorHeader = (l) =>\n    /^\\s*\\|?\\s*:?-{3,}\\s*(\\|\\s*:?-{3,}\\s*)+\\|?\\s*$/.test(l);\n\n  for (let i = 0; i < linhas.length; i++) {\n    const linhaBruta = linhas[i];\n    const linha = linhaBruta.trim();\n\n    // 1) Não mexer em blocos de código\n    if (linha.startsWith('```')) {\n      emCodigo = !emCodigo;\n      textoConvertido += linhaBruta + '\\n';\n      // Ao entrar/sair de código, considere que qualquer tabela anterior acabou\n      if (dentroDeTabela) {\n        textoConvertido += '\\n';\n        dentroDeTabela = false;\n        cabecalhoProcessado = false;\n      }\n      continue;\n    }\n    if (emCodigo) {\n      textoConvertido += linhaBruta + '\\n';\n      continue;\n    }\n\n    // 2) Heurística simples: linha com '|' e ao menos 3 segmentos = possível tabela\n    const ehLinhaComPipes = linha.includes('|') && linha.split('|').length > 2;\n\n    if (ehLinhaComPipes) {\n      // 2.1) Linha separadora de header? apenas marque que estamos na tabela e pule\n      if (ehSeparadorHeader(linha)) {\n        dentroDeTabela = true;\n        continue;\n      }\n\n      // 2.2) Parse das colunas\n      const colunas = linha\n        .split('|')\n        .map(col => col.trim())\n        .filter(col => col !== '');\n\n      if (colunas.length >= 2) {\n        dentroDeTabela = true;\n\n        // 2.3) Só pular a 1ª linha se a próxima for separador => existe header\n        if (!cabecalhoProcessado) {\n          const proxima = (i + 1 < linhas.length) ? linhas[i + 1].trim() : '';\n          const proxEhSeparador = ehSeparadorHeader(proxima);\n          cabecalhoProcessado = true;\n\n          if (proxEhSeparador) {\n            // pula header (linha atual) e o separador (próxima linha)\n            i++; \n            continue;\n          }\n          // Sem header: trata esta linha como dado (não dá continue)\n        }\n\n        // 2.4) Montagem do tópico\n        const item = colunas[0].replace(/\\*/g, ''); // remove asteriscos do nome\n        const valor = colunas[1];\n        const percentual = colunas.length > 2 ? colunas[2] : '';\n\n        textoConvertido += `• ${item}: ${valor}${percentual ? ` (${percentual})` : ''}\\n`;\n      }\n    } else {\n      // 3) Linha normal (fora de tabela)\n      if (dentroDeTabela) {\n        // encerra bloco de tabela com linha em branco\n        textoConvertido += '\\n';\n        dentroDeTabela = false;\n        cabecalhoProcessado = false;\n      }\n      textoConvertido += linhaBruta + '\\n';\n    }\n  }\n\n  // 4) Se terminou dentro de tabela, fecha com quebra de linha\n  if (dentroDeTabela) {\n    textoConvertido += '\\n';\n  }\n\n  return textoConvertido.trim();\n}\n\n// ===== n8n: processa todos os itens de entrada =====\nconst inputData = $input.all();\n\nconst outputComTopicos = inputData.map(item => {\n  if (item.json.output && typeof item.json.output === 'string') {\n    // 1) Converter **bold** para *itálico* (WhatsApp)\n    let texto = item.json.output.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\n    // 2) Converter tabelas markdown em tópicos\n    texto = converterTabelaParaTopicos(texto);\n\n    return {\n      json: {\n        ...item.json,\n        output: texto\n      }\n    };\n  }\n  return item;\n});\n\nreturn outputComTopicos;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                5296,
                464
            ],
            "id": "6fa8d97f-a2f4-4913-9bfa-5ac6b19909f7",
            "name": "Code"
        },
        {
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "json",
                            "type": "object"
                        },
                        {
                            "name": "numerdoid"
                        },
                        {
                            "name": "conversa"
                        },
                        {
                            "name": "token_whatsapp"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                912,
                -176
            ],
            "id": "ed87e62d-0f70-4248-86bf-307849763b96",
            "name": "When Executed by generate_chart"
        },
        {
            "parameters": {
                "content": "## Gerador de Gráficos\n",
                "height": 540,
                "width": 1128,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                896,
                -288
            ],
            "id": "b201e4d9-7157-4eb5-83e7-cb308f7b70ed",
            "name": "Sticky Note6"
        },
        {
            "parameters": {
                "content": "## Analista de Dados\n",
                "height": 904,
                "width": 4308,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                896,
                272
            ],
            "id": "e22c01bc-8c6f-4143-942a-34289907b53c",
            "name": "Sticky Note7"
        },
        {
            "parameters": {
                "content": "## Listar os relatórios disponíveis para exportar\n",
                "height": 520,
                "width": 2260
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                912,
                2032
            ],
            "id": "42ab01e6-c32c-4577-bc16-bc46cb71df21",
            "name": "Sticky Note9"
        },
        {
            "parameters": {
                "jsCode": "// Node CODE - Extrair Tabelas e Campos em formato simples\n\nconst inputData = $input.all()[0].json;\nconst workspaces = inputData.workspaces;\n\nlet output = \"# Tabelas e Campos do Dataset\\n\\n\";\n\n// Percorrer todos os workspaces\nworkspaces.forEach(workspace => {\n  // Percorrer todos os datasets\n  workspace.datasets?.forEach(dataset => {\n    // Filtrar apenas datasets que contêm \"ia_\" no nome\n    if (dataset.name && dataset.name.toLowerCase().includes('ia_')) {\n      \n      // Percorrer todas as tabelas do dataset\n      dataset.tables?.forEach(table => {\n        \n        // PULAR tabelas ocultas\n        if (table.isHidden) {\n          return; // Skip esta tabela\n        }\n        \n        // Filtrar apenas colunas visíveis\n        const visibleColumns = table.columns ? table.columns.filter(column => !column.isHidden) : [];\n        \n        // Se não tem colunas visíveis, pular esta tabela\n        if (visibleColumns.length === 0) {\n          return; // Skip esta tabela\n        }\n        \n        // Adicionar nome da tabela com formatação markdown\n        output += `## ${table.name}\\n\\n`;\n        \n        // Adicionar colunas visíveis em lista markdown\n        const columnNames = visibleColumns.map(column => `- ${column.name}`);\n        output += columnNames.join('\\n') + '\\n\\n';\n      });\n    }\n  });\n});\n\n// Retornar como um único texto\nreturn [\n  {\n    json: {\n      texto: output.trim()\n    }\n  }\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1664,
                480
            ],
            "id": "d8786a8b-0456-4897-b104-935461e8876b",
            "name": "Organiza Campos e Tabelas"
        },
        {
            "parameters": {
                "jsCode": "// Node CODE - Extrair apenas Medidas Visíveis e suas Descrições\n\nconst inputData = $input.all()[0].json;\nconst workspaces = inputData.workspaces;\n\nlet output = \"# Medidas e Descrições do Dataset\\n\\n\";\n\n// Percorrer todos os workspaces\nworkspaces.forEach(workspace => {\n  // Percorrer todos os datasets\n  workspace.datasets?.forEach(dataset => {\n    // Filtrar apenas datasets que contêm \"ia_\" no nome\n    if (dataset.name && dataset.name.toLowerCase().includes('ia_')) {\n      \n      // Percorrer todas as tabelas do dataset\n      dataset.tables?.forEach(table => {\n        \n        // Verificar se a tabela tem medidas\n        if (table.measures && table.measures.length > 0) {\n          \n          // Filtrar apenas medidas visíveis\n          const visibleMeasures = table.measures.filter(measure => !measure.isHidden);\n          \n          // Se tem medidas visíveis, processar\n          if (visibleMeasures.length > 0) {\n            \n            // Adicionar nome da tabela como cabeçalho markdown\n            output += `## ${table.name}\\n\\n`;\n            \n            // Adicionar cada medida visível em lista markdown\n            visibleMeasures.forEach(measure => {\n              output += `- **${measure.name}**`;\n              \n              // Adicionar descrição se existir\n              if (measure.description && measure.description.trim() !== '') {\n                output += ` - ${measure.description}`;\n              }\n              \n              output += '\\n';\n            });\n            \n            output += '\\n'; // Linha em branco entre tabelas\n          }\n        }\n      });\n    }\n  });\n});\n\n// Se não encontrou medidas, avisar\nif (output === \"# Medidas\\n\\n\") {\n  output += \"**Nenhuma medida visível encontrada.**\";\n}\n\n// Retornar como um único texto\nreturn [\n  {\n    json: {\n      texto: output.trim()\n    }\n  }\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1664,
                704
            ],
            "id": "43918a23-4404-4131-982f-cead3b33f11f",
            "name": "Organiza as Medidas Visiveis"
        },
        {
            "parameters": {
                "jsCode": "let textoFinal = items.map(item => item.json.texto).join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      resultadofinal: textoFinal\n    }\n  }\n];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2096,
                576
            ],
            "id": "58a67850-ac00-419b-9cdf-9f94e10babce",
            "name": "Unificar Saída"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                1904,
                576
            ],
            "id": "69d0a991-c2ab-4b3c-8d5d-61cf35549f6b",
            "name": "Merge do Resultado"
        },
        {
            "parameters": {
                "numberInputs": 3
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                6816,
                1232
            ],
            "id": "74965842-c944-4418-a155-a5abe31bebb1",
            "name": "Merge das Saídas"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1-mini"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                944,
                2400
            ],
            "id": "7353e29c-9ab9-4e56-982b-655b8a6f9fa3",
            "name": "OpenAI Chat Model4",
            "credentials": {
                "openAiApi": {
                    "id": "HMVlpl2oRbGtj5oI",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Pegar parâmetros iniciais').first().json.numeroid }}",
                "tableName": "n8n_export_relatorios"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                1120,
                2400
            ],
            "id": "5a1357f4-0e7d-4f7b-8b27-c78a3dd66ed5",
            "name": "Postgres Chat Memory1",
            "credentials": {
                "postgres": {
                    "id": "hlIjrDG7Lu5XH00T",
                    "name": "Postgres account 2"
                }
            },
            "disabled": true
        },
        {
            "parameters": {
                "jsCode": "// Exemplo simples de wrapper\nreturn [\n  {\n    json: {\n      token: $json.token,\n      query: $json.query,\n      datasetId: $json.datasetId,\n      groupId: $json.groupId\n    }\n  }\n];\n"
            },
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1.2,
            "position": [
                1424,
                2384
            ],
            "id": "1cb9f863-9361-4581-b918-7e0a4fa94c15",
            "name": "Code Tool"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Tratamento Final do Texto').first().json.finalText }}",
                "options": {
                    "systemMessage": "=# Sua função é somente listar os relatórios da WorkSpace pela tool lista_relatorios\n\n## Pegar o resultado com os dados reais e formatar um texto de saida:\n   Exemplo:\n    📊 Relatórios disponíveis:\n    \n    1 - Relatorio 1\n    2 - Relatorio 2\n    3 - Relatorio 3\n    4 - Relatorio 4\n\n# REGRA\n1 - NÃO ENVIE NENHUM TINHO DE URL"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.9,
            "position": [
                1136,
                2144
            ],
            "id": "1add6bc4-eedc-41d1-9493-910072181c59",
            "name": "Listar os Relatorios"
        },
        {
            "parameters": {
                "content": "## Saída\n",
                "height": 280,
                "width": 2160
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                6496,
                1152
            ],
            "id": "8bf23be8-19a4-4d93-826a-1d729d12fa73",
            "name": "Sticky Note10"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v23.0/724791994049420/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Pegar parâmetros iniciais').first().json.token_whatsapp }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Pegar parâmetros iniciais').first().json.message_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                7296,
                1232
            ],
            "id": "5acf205d-2d37-48e2-9b72-2f1f093c5d2a",
            "name": "Indicador de Digitando",
            "disabled": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v23.0/724791994049420/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Pegar parâmetros iniciais').first().json.token_whatsapp }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"+{{ $node['Pegar parâmetros iniciais'].json.numeroid }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"{{ $json.bodyEscaped }}\"\n  }\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                8032,
                1232
            ],
            "id": "33797801-1c99-4d6e-acf3-9b5e8f097794",
            "name": "Enviar mensagem"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                7536,
                1232
            ],
            "id": "793b8c27-945b-4c4e-a65e-b2bdd4d510a3",
            "name": "Wait",
            "webhookId": "32c32336-0019-4e03-8fb0-043e0ced9c44"
        },
        {
            "parameters": {
                "amount": 2
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                7024,
                1232
            ],
            "id": "e0c7ab2c-4694-4aea-a128-d1f7fbe8c308",
            "name": "Wait3",
            "webhookId": "f4df58c6-871d-4b70-84f7-20f545c999ff"
        },
        {
            "parameters": {
                "jsCode": "// 1) Pega todos os itens de entrada como um array\nconst items = $('Merge das Saídas').all();\n\nreturn items.map(item => {\n  // 2) Aqui o seu texto puro já está em item.json.output\n  let text = item.json.output || '';\n\n  // 3) Escapa barras invertidas (se houver) e aspas duplas\n  text = text\n    .replace(/\\\\/g, '\\\\\\\\')  // barras invertidas\n    .replace(/\"/g, '\\\\\"');   // aspas duplas\n\n  // 4) Garante que qualquer quebra de linha literal vira \\n\n  text = text.replace(/\\r\\n/g, '\\\\n').replace(/\\r/g, '\\\\n').replace(/\\n/g, '\\\\n');\n\n  // 5) Retorna o item incluindo o campo bodyEscaped\n  return {\n    json: {\n      ...item.json,\n      bodyEscaped: text,\n    }\n  };\n});\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7856,
                1232
            ],
            "id": "bbb91192-45f1-4b4d-b67a-3395a2fda995",
            "name": "Code2"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v23.0/724791994049420/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Pegar parâmetros iniciais').first().json.token_whatsapp }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Pegar parâmetros iniciais').first().json.message_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2352,
                576
            ],
            "id": "017e59d6-c854-472c-b021-dbec5ad39744",
            "name": "Indicador de Digitando1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v23.0/724791994049420/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Pegar parâmetros iniciais').first().json.token_whatsapp }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"+{{ $node['Pegar parâmetros iniciais'].json.numeroid }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"Aguarde enquanto faço a exportação do relatório\"\n  }\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2256,
                1616
            ],
            "id": "7270223a-9a51-4929-9d39-5527c4057b55",
            "name": "Enviar mensagem1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v23.0/724791994049420/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Pegar parâmetros iniciais').first().json.token_whatsapp }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Pegar parâmetros iniciais').first().json.message_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1840,
                1616
            ],
            "id": "572c1c1f-af16-4749-88de-3c942b4984fd",
            "name": "Indicador de Digitando2"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2064,
                1616
            ],
            "id": "585e744d-dd01-428e-a68e-99e9f3f4051f",
            "name": "Wait4",
            "webhookId": "82597784-0949-413d-9128-cce04fdabebf"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v23.0/724791994049420/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Pegar parâmetros iniciais').first().json.token_whatsapp }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"+{{ $('Pegar parâmetros iniciais').first().json.numeroid }}\",\n  \"type\": \"document\",\n  \"type\": \"document\",\n    \"document\": {\n      \"id\": \"{{$json.id}}\",\n      \"filename\": \"{{ $('Export report to file').first().json.reportName }}\",\n      \"caption\": \"Aqui esta seu relatório!\"\n    }\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2080,
                1856
            ],
            "id": "1cb643b1-d5a4-457a-bed1-24242b41f1af",
            "name": "Envio do PDF"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v23.0/724791994049420/media",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "multipart/form-data"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Pegar parâmetros iniciais').item.json.token_whatsapp }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "messaging_product",
                            "value": "whatsapp"
                        },
                        {
                            "parameterType": "formBinaryData",
                            "name": "file",
                            "inputDataFieldName": "data"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1856,
                1856
            ],
            "id": "4f3aeb6a-f1c0-4544-9d1b-589695e7d74e",
            "name": "Upload da Imagem1"
        },
        {
            "parameters": {
                "url": "=https://graph.facebook.com/v23.0/{{ $json.audio_id }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "multipart/form-data"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Pegar parâmetros iniciais').first().json.token_whatsapp }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -3312,
                416
            ],
            "id": "6c1771e9-a390-44cd-a16d-c102c5960b7d",
            "name": "GetAudio URL",
            "disabled": true
        },
        {
            "parameters": {
                "url": "={{ $json.url }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\","
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Pegar parâmetros iniciais').item.json.token_whatsapp }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -3072,
                416
            ],
            "id": "4d666d8d-15ae-431e-93f9-b43c97a5f58d",
            "name": "BaixarAudio",
            "disabled": true
        },
        {
            "parameters": {
                "amount": 2
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1008,
                640
            ],
            "id": "73fae444-39d4-461c-b87e-973eb6b05205",
            "name": "Wait1",
            "webhookId": "64080a73-1abb-4e08-861f-ec88b74c9d03"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://login.microsoftonline.com/{{ $('AppAzure').item.json.tenante_id }}/oauth2/v2.0/token",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/x-www-form-urlencoded"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"client_id\": \"{{$('AppAzure').item.json.client_id }}\",\n  \"client_secret\": \"{{ $('AppAzure').item.json.secret_id }}\",\n  \"grant_type\": \"refresh_token\",\n  \"refresh_token\": \"{{ $json.refresh_token }}\",\n  \"scope\": \"https://analysis.windows.net/powerbi/api/.default\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1344,
                1024
            ],
            "id": "5387cb6d-bfde-4439-8983-d4e9893d5d84",
            "name": "HTTP Request",
            "disabled": true
        },
        {
            "parameters": {
                "url": "=https://api.powerbi.com/v1.0/myorg/groups/745795a7-f2cd-437f-9737-8146162c50ee",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Merge').item.json.acess_token }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                976,
                432
            ],
            "id": "c1290135-3f1f-4c2e-b29e-eddefa5e8688",
            "name": "Pegar Id do WorkSpace"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.powerbi.com/v1.0/myorg/admin/workspaces/getInfo?lineage=true&datasourceDetails=true&datasetSchema=true&datasetExpressions=true",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Merge').item.json.acess_token }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"workspaces\": [\"{{ $json.id }}\"]\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1200,
                432
            ],
            "id": "02e51f3b-44a8-476e-b5c3-3a2f25361dde",
            "name": "ScanEstagio1"
        },
        {
            "parameters": {
                "url": "=https://api.powerbi.com/v1.0/myorg/admin/workspaces/scanStatus/{{ $('ScanEstagio1').item.json.id }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Merge').item.json.acess_token }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"workspaces\": [\"{{ $json.id }}\"]\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1200,
                640
            ],
            "id": "276c670f-d963-4123-b74e-9e1416e7ba3e",
            "name": "ScanEstagio2"
        },
        {
            "parameters": {
                "url": "=https://api.powerbi.com/v1.0/myorg/admin/workspaces/scanResult/{{ $json.id }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Merge').item.json.acess_token }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1408,
                576
            ],
            "id": "7485b054-46b7-4ca0-93cb-af1fd21433fc",
            "name": "ScanEstagio3"
        },
        {
            "parameters": {
                "url": "=https://api.powerbi.com/v1.0/myorg/groups/{{ $('Pegar parâmetros iniciais').first().json.groupid }}/reports",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Merge').first().json.acess_token }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.2,
            "position": [
                1280,
                2400
            ],
            "id": "df44b6cb-19aa-4581-9870-5d246e404e82",
            "name": "lista_relatorios1"
        },
        {
            "parameters": {
                "url": "=https://api.powerbi.com/v1.0/myorg/groups/{{ $('Pegar parâmetros iniciais').first().json.groupid }}/reports",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Merge').first().json.acess_token }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.2,
            "position": [
                1312,
                1856
            ],
            "id": "d840e65a-3ccc-443e-82d3-2d70ebfb4c89",
            "name": "lista_relatorios"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Tratamento Final do Texto').first().json.finalText }}",
                "needsFallback": true,
                "options": {
                    "systemMessage": "=# 📌 Classificador de Intenções - Prompt\n\nVocê é um classificador de intenções.  \n\n**INSTRUÇÃO CRÍTICA:** Analise a mensagem do usuário e responda **EXCLUSIVAMENTE** com uma das 5 palavras abaixo. **NÃO adicione explicações, contexto ou informações de conversas anteriores.**\n\n**RESPOSTA PERMITIDA (apenas uma opção):**\n- consulta_dados\n- analise_preditiva  \n- geral\n- export_relatorio\n- relatorio_disponiveis\n\n---\n\n## 🎯 REGRAS DE CLASSIFICAÇÃO (por ordem de prioridade)\n\n### ✅ 1º - CONTINUAÇÃO DE ANÁLISE\nSe a mensagem solicitar **aprofundamento, análise ou interpretação** de dados já apresentados:\n- \"faça uma análise mais profunda\"\n- \"analise esse resultado\" \n- \"interprete esses dados\"\n- \"o que isso significa?\"\n- \"detalhe mais essa informação\"\n- \"explique melhor\"\n- \"por que aconteceu isso?\"\n- \"qual a causa disso?\"\n\n→ **consulta_dados**\n\n### ✅ 2º - GRÁFICOS\n- Se mencionar **\"gráfico\"** → **consulta_dados**\n\n### ✅ 3º - RELATÓRIO\n- \"quais relatórios existem/disponíveis/posso acessar?\" → **relatorio_disponiveis**  \n- \"baixar / exportar relatório\" → **export_relatorio**\n- **IMPORTANTE**: Só classificar como relatório_disponiveis se mencionar explicitamente \"relatório(s)\"\n\n### ✅ 4º - ANÁLISE PREDITIVA (match exato)\nSe a mensagem for igual ou **EXATAMENTE** as expressões abaixo (sem variações, sem reordenação ou pluralização):  \n- **preditiva**  \n- **tendência**  \n- **padrão**  \n- **probabilidade**  \n- **ANÁLISE EXECUTIVA**  \n- **INSIGHTS ESTRATÉGICOS**  \n- **TOP 10 PRODUTOS**  \n- **ANÁLISE DE CONCENTRAÇÃO**  \n- **PLANO DE EXECUÇÃO**  \n- **PROJEÇÃO FINANCEIRA**  \n- **RECOMENDAÇÃO FINAL**\n\n→ Classifique como **analise_preditiva**\n\n### ✅ 5º - CONSULTA DE DADOS\nSe não cair em nenhuma regra acima, mas pedir dados, métricas, rankings ou valores → **consulta_dados**.  \nExemplos: \"qual o lucro do mês?\", \"ranking dos 10 produtos mais vendidos\", \"top 5 vendedores do trimestre\"\n\n### ✅ 6º - EXPORTAR RELATÓRIO\nEx: \"exportar relatório mensal\", \"baixar dashboard\"\n\n### ✅ 7º - RELATÓRIOS DISPONÍVEIS\nEx: \"quais relatórios posso acessar?\"\n\n### ✅ 8º - GERAL\nSaudações ou perguntas genéricas.\nQuando a pergunta for sobre indicadores, métricas, dados, medidas, campos ou dimensão.\nEx: \"olá\", \"como funciona essa ferramenta?\"\nEx: \"Quais indicadores tenho disponível para analisar?\"\n\n---\n\n## 📋 EXEMPLOS DE CLASSIFICAÇÃO\n\n| Mensagem do Usuário | Resposta Esperada |\n|---------------------|-------------------|\n| Faça uma análise mais profunda desse resultado | consulta_dados |\n| Analise esses dados de margem | consulta_dados |\n| Por que a margem caiu em fevereiro? | consulta_dados |\n| O que isso significa? | consulta_dados |\n| Interprete melhor essa informação | consulta_dados |\n| Gere um gráfico de vendas por mês | consulta_dados |\n| Qual o lucro por produto? | consulta_dados |\n| Qual o TOP 10 produtos em vendas? | consulta_dados |\n| TOP 10 PRODUTOS | analise_preditiva |\n| ANÁLISE EXECUTIVA | analise_preditiva |\n| INSIGHTS ESTRATÉGICOS | analise_preditiva |\n| ANÁLISE DE CONCENTRAÇÃO | analise_preditiva |\n| PLANO DE EXECUÇÃO | analise_preditiva |\n| PROJEÇÃO FINANCEIRA | analise_preditiva |\n| RECOMENDAÇÃO FINAL | analise_preditiva |\n| Abra o menu de análise preditiva | analise_preditiva |\n| Quais relatórios estão disponíveis? | relatorio_disponiveis |\n| Exportar relatório de desempenho mensal | export_relatorio |\n| Quero o relatório número 3 | export_relatorio |\n| Olá, tudo bem? | geral |\n| Quais dados ou informações tenho disponível para analisar | geral |\n| Quais indicadores tenho disponível para analisar? | geral |\n\n---\n\n## ⚠️ INSTRUÇÕES FINAIS OBRIGATÓRIAS\n\n**SUA RESPOSTA DEVE CONTER APENAS UMA DAS 5 PALAVRAS-CHAVE:**\n- consulta_dados\n- analise_preditiva\n- geral  \n- export_relatorio\n- relatorio_disponiveis\n\n**NÃO INCLUA:**\n- Explicações adicionais\n- Contexto de conversas anteriores\n- Formatação (negrito, itálico, etc.)\n- Pontuação extra\n- Frases explicativas\n\n**EXEMPLO DE RESPOSTA CORRETA:**\nconsulta_dados\n\n**EXEMPLO DE RESPOSTA INCORRETA:**\n**consulta_dados** (porque eu entendi que você quer analisar os dados de margem apresentados anteriormente)\n\n---\n\n## 🔄 TESTE DE VALIDAÇÃO\n\nPara validar se está funcionando corretamente:\n1. Input: \"faça uma análise mais profunda desse resultado\"\n2. Output esperado: consulta_dados\n3. Output incorreto: Qualquer coisa além de \"consulta_dados\""
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.1,
            "position": [
                -576,
                832
            ],
            "id": "de861e96-e668-4141-a9a5-cdfa2b6b09e9",
            "name": "AI Classificador de intencoes"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Pegar parâmetros iniciais').first().json.numeroid }}",
                "tableName": "n8n_wts_classificador"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                -528,
                560
            ],
            "id": "eb1471f9-d758-4210-b72e-d3f1fb362833",
            "name": "Memória do Classificador",
            "credentials": {
                "postgres": {
                    "id": "hlIjrDG7Lu5XH00T",
                    "name": "Postgres account 2"
                }
            },
            "disabled": true
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "claude-sonnet-4-20250514",
                    "cachedResultName": "Claude 4 Sonnet"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                -736,
                576
            ],
            "id": "8235749e-0acd-446e-9d3a-d38940182085",
            "name": "Anthropic Chat Model",
            "disabled": true
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                8240,
                1232
            ],
            "id": "61fee716-22dd-4cda-a5b8-08de93a986dd",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                2304,
                1856
            ],
            "id": "6af5509d-683d-4f16-93b4-348b53e520f2",
            "name": "Respond to Webhook1"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "5c12f207-aef5-4cf0-97ea-7ff418dcd214",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -4016,
                400
            ],
            "id": "7e04769c-ba8b-4bfd-be59-232f8ef2189a",
            "name": "Webhook",
            "webhookId": "5c12f207-aef5-4cf0-97ea-7ff418dcd214",
            "disabled": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "79d5c8a7-68f4-4792-a80a-e93f1012d6e4",
                            "leftValue": "={{ $json.type }}",
                            "rightValue": "audio",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -3632,
                912
            ],
            "id": "d1978de2-c25d-4f70-a160-60f5bb449492",
            "name": "If3"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "5553f2e5-00a8-4eab-b122-1b37357ebc49",
                            "name": "numeroid",
                            "value": "={{ $json.body.numeroid }}",
                            "type": "string"
                        },
                        {
                            "id": "ebad3853-665b-486c-90a8-79823e14d409",
                            "name": "rule",
                            "value": "={{ $json.body.rule }}",
                            "type": "string"
                        },
                        {
                            "id": "bd82a5a6-5323-4179-a9fb-ff2e4e782fe5",
                            "name": "groupid",
                            "value": "={{ $json.body.groupid }}",
                            "type": "string"
                        },
                        {
                            "id": "613a499d-a49f-4a4f-8c14-9fad136798d2",
                            "name": "datasetid",
                            "value": "={{ $json.body.datasetid }}",
                            "type": "string"
                        },
                        {
                            "id": "cbc8ad1c-8cfe-41af-8019-ef3aac2dafff",
                            "name": "conversa",
                            "value": "={{ $json.body.conversa }}",
                            "type": "string"
                        },
                        {
                            "id": "9b74fd95-f79c-4bbf-ac3f-c5ba18f3651d",
                            "name": "nomeuser",
                            "value": "={{ $json.body.nomeuser }}",
                            "type": "string"
                        },
                        {
                            "id": "fb66d528-7c20-403c-a7d3-73c0ec13fdfb",
                            "name": "token_whatsapp",
                            "value": "={{ $json.body.token_whatsapp }}",
                            "type": "string"
                        },
                        {
                            "id": "bc5ab0d1-3f93-4e14-8649-dd75759d14c9",
                            "name": "message_id",
                            "value": "={{ $json.body.message_id }}",
                            "type": "string"
                        },
                        {
                            "id": "75980a6a-0f56-4bfc-86d9-bc4db5957544",
                            "name": "type",
                            "value": "={{ $json.body.tipo }}",
                            "type": "string"
                        },
                        {
                            "id": "a8ff9220-c41e-4402-9ef6-c4c0d6af86d4",
                            "name": "audio_id",
                            "value": "={{ $json.body.audio_id }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -3856,
                912
            ],
            "id": "0abf6dbf-0c01-42f2-b797-3f762888d2a7",
            "name": "Pegar parâmetros iniciais"
        },
        {
            "parameters": {
                "jsCode": "// Nó Function ou Code no n8n\nconst hoje = new Date();\n\n// Criar formatador para Brasília\nconst formatador = new Intl.DateTimeFormat('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric'\n});\n\n// Obter partes da data\nconst partes = formatador.formatToParts(hoje);\nconst dia = parseInt(partes.find(p => p.type === 'day').value);\nconst mes = parseInt(partes.find(p => p.type === 'month').value);\nconst ano = parseInt(partes.find(p => p.type === 'year').value);\n\n// Formatar como DATE do DAX\nconst dataHoje = `DATE(${ano}, ${mes}, ${dia})`;\n\nreturn {\n  dataHoje: dataHoje,\n  ano: ano,\n  mes: mes,\n  dia: dia,\n  dataFormatadaBR: formatador.format(hoje)\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3632,
                464
            ],
            "id": "a3058edb-5576-44bc-9dd7-290c194da964",
            "name": "Pegar Data e hora do sistema"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $('Pegar parâmetros iniciais').first().json.rule }}",
                                        "rightValue": "semregra",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "77a260d8-abf1-49e5-86bb-06b422de6175"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "0b334a9c-e080-4737-9378-9a45fa8a6692",
                                        "leftValue": "={{ $('Pegar parâmetros iniciais').first().json.rule }}",
                                        "rightValue": "rca1",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "34034bff-35f4-4ef6-ad4e-690074628440",
                                        "leftValue": "={{ $('Pegar parâmetros iniciais').first().json.rule }}",
                                        "rightValue": "rca2",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                2608,
                544
            ],
            "id": "81094aaa-30f2-4c5d-ae06-13f13b161a38",
            "name": "Rules"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "dc2d165e-446f-416e-9fd9-9709f8ce62db",
                            "name": "regra",
                            "value": "=",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2960,
                416
            ],
            "id": "c19e4d95-4f94-4952-8923-9d3b78f1cad4",
            "name": "semregra"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "dc2d165e-446f-416e-9fd9-9709f8ce62db",
                            "name": "regra",
                            "value": "='dFilial'[codigofilial] IN {\"1\", \"8\",\"9\",\"11\",\"12\"}, 'dEquipe de Venda'[CodigoSupervisor] <> 13",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2960,
                560
            ],
            "id": "69054dd7-fe65-4e25-a51d-751a6d8b0ecf",
            "name": "rca1"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "dc2d165e-446f-416e-9fd9-9709f8ce62db",
                            "name": "regra",
                            "value": "='dEquipeVenda'[codigosupervisor] IN {18, 42, 81, 84}, \n'dFilial'[codigofilial] in {\"1\", \"8\", \"9\", \"11\", \"12\"}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2960,
                704
            ],
            "id": "2e92b43b-3876-49de-84bd-9760927a4968",
            "name": "rca2"
        },
        {
            "parameters": {
                "numberInputs": 3
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                3344,
                544
            ],
            "id": "bcb5201a-166c-4b77-b740-98332bd7ed30",
            "name": "RuleRLS"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.conversa }}",
                "options": {
                    "systemMessage": "=# Prompt: Gerador de Gráficos HTML\n\nGere gráficos HTML com Chart.js. Responda APENAS com código HTML puro.\n\n## Regras\n\n1. **Output = apenas HTML** (sem texto, sem markdown, sem explicações)\n2. **Primeira linha = `<!DOCTYPE html>`** (sempre)\n3. **Formato brasileiro** (R$, vírgula decimal, abreviar: Mil/Mi/Bi)\n4. **Sem dados = HTML de placeholder** (nunca peça dados)\n5. **PROIBIDO Animações e tooltips**\n\n## NUNCA INVENTAR (CRÍTICO)\n\n- **Dados** = usar APENAS os valores de `<DADOS_ENTRADA>`. Não adicionar, estimar ou inventar.\n- **Título** = usar APENAS o que o usuário pedir. Se não pedir, deixar genérico (\"Gráfico\" ou vazio).\n- **Labels** = usar APENAS os campos que existem nos dados (ex: \"categoria\", \"mes\", \"label\").\n\n**Se o campo não existe nos dados, NÃO INVENTE.**\n\n## Responsividade (OBRIGATÓRIO)\n\n```css\nbody { min-height: 100vh; }\n.container { width: 100%; height: calc(100vh - 40px); }\ncanvas { width: 100% !important; height: 100% !important; }\n```\n```javascript\noptions: { responsive: true, maintainAspectRatio: false }\n```\n\n**PROIBIDO:** `width: 1080px`, `height: 720px` ou qualquer tamanho fixo em pixels.\n\n## Elementos obrigatórios (SEMPRE INCLUIR)\n\n1. **Título** - `<div class=\"titulo\">` acima do gráfico\n2. **Legenda** - `plugins: { legend: { display: true } }`\n3. **Etiquetas** - `plugins: { datalabels: { display: true } }` com valores formatados\n\n## Etiquetas sem sobreposição e sem corte (CRÍTICO)\n\nEvitar que etiquetas se sobreponham ou sejam cortadas:\n\n```javascript\noptions: {\n    layout: {\n        padding: { top: 30, right: 20, bottom: 10, left: 20 }\n    },\n    plugins: {\n        datalabels: {\n            display: 'auto',\n            anchor: 'end',\n            align: 'top',\n            offset: 4,\n            clip: false,\n            font: { size: 11 }\n        }\n    }\n}\n```\n\n**OBRIGATÓRIO:**\n- `layout.padding.top: 30` → espaço para etiquetas acima das barras\n- `clip: false` → não cortar etiquetas\n- `display: 'auto'` → ocultar se sobrepor\n\n## Visual\n\n- Tema claro e minimalista (fundo branco, cores suaves)\n- Maior valor = verde (#4CAF50)\n- Menor valor = vermelho (#F44336)\n- Demais valores = azul (#2196F3)\n\n## Dados\n\n<DADOS_ENTRADA>\n{{ JSON.stringify($('When Executed by generate_chart').first().json.json, null, 2) }}\n</DADOS_ENTRADA>"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                1152,
                -176
            ],
            "id": "25d5f918-f20f-4616-83c7-99930f1d4ef0",
            "name": "Gerador de Gráfico1"
        },
        {
            "parameters": {
                "operation": "htmlToImage"
            },
            "type": "n8n-nodes-htmlcsstoimage.htmlCssToImage",
            "typeVersion": 1,
            "position": [
                1680,
                -176
            ],
            "id": "fbb8e5fd-9d67-4f4d-be31-76bde6e25359",
            "name": "HTML/CSS to Image",
            "credentials": {},
            "disabled": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v23.0/724791994049420/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('When Executed by generate_chart').first().json.token_whatsapp }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"+{{ $('When Executed by generate_chart').first().json.numerdoid }}\",\n  \"type\": \"image\",\n  \"image\": {\n     \"link\": \"{{ $json.image_url }}\",\n    \"caption\": \"Aqui está o Gráfico que você pediu!\"\n  }\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1888,
                -176
            ],
            "id": "bf9a8656-1137-4c13-9606-71b13ff90475",
            "name": "Envio do Gráfico1",
            "disabled": true
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "claude-sonnet-4-20250514",
                    "cachedResultName": "Claude 4 Sonnet"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                4144,
                784
            ],
            "id": "180e3390-2a84-4da1-83b7-890f0a6c2715",
            "name": "Anthropic Chat Model3",
            "disabled": true
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-5.1",
                    "mode": "list",
                    "cachedResultName": "gpt-5.1"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                3984,
                784
            ],
            "id": "f1ee6ec0-efe9-4102-8de0-e5f15db65098",
            "name": "OpenAILLM",
            "credentials": {
                "openAiApi": {
                    "id": "HMVlpl2oRbGtj5oI",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Pegar parâmetros iniciais').first().json.numeroid }}",
                "tableName": "n8n_wts_consultadados",
                "contextWindowLength": 15
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                4304,
                768
            ],
            "id": "429804ee-9e8a-4b5f-a207-de136ce51c60",
            "name": "n8n_wts_analise",
            "credentials": {
                "postgres": {
                    "id": "hlIjrDG7Lu5XH00T",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.powerbi.com/v1.0/myorg/groups/{{ $('Pegar parâmetros iniciais').first().json.groupid }}/datasets/{{ $('Pegar parâmetros iniciais').first().json.datasetid }}/executeQueries",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Merge').first().json.acess_token }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"queries\": [\n    {\n      \"query\": \"{{ $fromAI('DAX_Query', ``, 'string').replace(/```dax/gi, '').replace(/```/g, '').replace(/\"/g, '\\\\\"').replace(/\\n/g, ' ').trim() }}\"\n    }\n  ]\n} ",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.2,
            "position": [
                4800,
                752
            ],
            "id": "7e81b232-fae0-419a-9af2-4c1739909314",
            "name": "execute_query"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "={{ $workflow.id}}",
                    "mode": "id"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "json": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('json', ``, 'string') }}",
                        "numerdoid": "={{ $('Pegar parâmetros iniciais').first().json.numeroid }}",
                        "conversa": "={{ $('Unificar o campo').first().json.mensagem }}",
                        "token_whatsapp": "={{ $('Pegar parâmetros iniciais').first().json.token_whatsapp }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "json",
                            "displayName": "json",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "object",
                            "removed": false
                        },
                        {
                            "id": "numerdoid",
                            "displayName": "numerdoid",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        },
                        {
                            "id": "conversa",
                            "displayName": "conversa",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        },
                        {
                            "id": "token_whatsapp",
                            "displayName": "token_whatsapp",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                4928,
                752
            ],
            "id": "ee6d3803-de45-4f92-9a72-6d7e10ef2231",
            "name": "generate_chart"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.toolCalculator",
            "typeVersion": 1,
            "position": [
                5040,
                752
            ],
            "id": "9e10e3f6-20ac-4fc8-a5e8-886c8471c526",
            "name": "calculator"
        },
        {
            "parameters": {
                "toolDescription": "ESPECIALIZADO DE QUERIES DAX PARA POWER BI API",
                "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Reformule a pergunta do usuário para torná-la compatível com o modelo de linguagem (LLM). Caso haja menção à geração de gráficos, reestruture a solicitação removendo esse pedido e substituindo-o por uma descrição técnica equivalente.  \nExemplo:  \n\"Gere um gráfico das vendas por mês\" → \"Informe o valor total das vendas mensais\".\n\nO objetivo é deixar a solicitação mais técnica e orientada a dados.\n`, 'string') }}",
                "options": {
                    "systemMessage": "=# AGENTE DAX - POWER BI EXECUTE QUERIES API\nv4.0 - Otimizado para Claude Sonnet 4.5\n\n═══════════════════════════════════════════════════════════\n\n## 1. CONFIGURAÇÃO\n\n**Modelo:** {{ $('Unificar Saída').first().json.resultadofinal }}\n**Data:** {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\n**RLS:** {{ $('RuleRLS').first().json.regra }}\n\n**Convenções:**\n- Tabelas FATO (f*): NUNCA referenciar diretamente\n- Tabelas DIMENSÃO (d*): únicas permitidas em queries\n- **Tabela de data:** usar SEMPRE o nome que vier no schema do modelo (pode ser dPeriodo, dCalendario, dTabelaData, etc.)\n\n⚠️ **IMPORTANTE:** Os templates abaixo usam `<TabelaData>` como placeholder. Substituir pelo nome real da tabela de data conforme o schema do modelo.\n\n═══════════════════════════════════════════════════════════\n\n## 2. FORMATO DE RESPOSTA\n\n**RETORNAR APENAS:**\n- Query DAX pura (sem markdown, sem comentários)\n- OU código de erro: `TIPO_ERRO: mensagem`\n\n⛔ **PROIBIDO NA RESPOSTA:**\n- NÃO usar ```dax ou ``` (blocos de código markdown)\n- NÃO usar comentários (-- ou //)\n- NÃO adicionar texto explicativo\n- NÃO usar quebras de linha desnecessárias\n\n═══════════════════════════════════════════════════════════\n\n## 2.1 IDENTIFICAÇÃO DA TABELA DE DATA\n\n**ANTES de gerar qualquer query:**\n1. Identificar no schema do modelo qual é a tabela de data/calendário (geralmente começa com \"d\" e contém campos como: data, mes, mesnome, ano, trimestre)\n2. Usar EXATAMENTE o nome dessa tabela em toda a query\n3. Nomes comuns: `dPeriodo`, `dCalendario`, `dTabelaData`, `dData`\n\n**Nos templates abaixo:** onde aparece `dTabelaData`, substituir pelo nome real da tabela de data do schema.\n\n✅ **EXEMPLO:** Se o schema tem `dPeriodo[data]`, `dPeriodo[mes]`, usar `dPeriodo` em toda a query.\n\n═══════════════════════════════════════════════════════════\n\n## 3. REGRAS ABSOLUTAS\n\n### COMPARAÇÃO PROPORCIONAL (CRÍTICO)\nToda comparação temporal deve usar o **mesmo número de dias**:\n- MoM: dia 01 até dia atual do mês → comparar com dia 01 até mesmo dia do mês anterior\n- YoY: 01/01 até data atual → comparar com 01/01 até mesma data do ano anterior\n- Nunca comparar período incompleto com período completo\n\n### PROIBIDO\n- **```dax, ```, markdown ou blocos de código na resposta**\n- Criar medidas ou cálculos\n- SUM(), COUNT(), AVG(), MIN(), MAX(), SUMX(), COUNTX(), AVERAGEX(), COUNTROWS(), DISTINCTCOUNT()\n- Referenciar colunas de tabelas fato (f*)\n- SAMEPERIODLASTYEAR, TODAY(), NOW()\n- Retornar mais de 25 linhas (usar TOPN)\n- CONTAINSSTRING com espaço em nomes compostos\n- Comentários (-- ou //) na query\n\n### OBRIGATÓRIO\n- Usar APENAS medidas predefinidas do modelo: [NomeMedida]\n- Apenas tabelas dimensão (d*)\n- EVALUATE inicia toda query\n- DEFINE VAR antes de EVALUATE\n- Filtro temporal explícito sempre\n- CONTAINSSTRING com quebra: \"Nome Sobrenome\" → `CONTAINSSTRING(campo, \"Nome\") && CONTAINSSTRING(campo, \"Sobrenome\")`\n\n### RLS - Inserção Automática\n```dax\nCALCULATE([Medida], filtro_temporal{{ $('RuleRLS').first().json.regra }})\n```\n⚠️ Nunca adicionar vírgula antes do placeholder\n\n═══════════════════════════════════════════════════════════\n\n## 4. FLUXO DE DECISÃO\n\n```\nPERGUNTA RECEBIDA\n│\n├─ 1. COMPARAÇÃO TEMPORAL? (vs, YoY, YTD, MTD, MoM, anterior, evolução, variação, crescimento)\n│     └─ SIM → Seção 5 (Templates)\n│\n├─ 2. AGREGAÇÃO TEMPORAL? (por dia, por mês, diário, mensal)\n│     └─ SIM → CALCULATETABLE externo\n│\n├─ 3. FILTRO TEMPORAL?\n│     ├─ Explícito (ontem, últimos 7 dias) → Mapear\n│     ├─ Implícito (atual, corrente) → Este mês\n│     └─ Ausente → ERRO: CONTEXTO_INSUFICIENTE\n│\n├─ 4. TOP/BOTTOM N?\n│     └─ SIM → TOPN\n│\n└─ 5. TIPO DE RESULTADO?\n      ├─ Valor único → ROW\n      └─ Agrupado → SUMMARIZECOLUMNS\n```\n\n### Mapeamento de Gatilhos → Template\n\n| Gatilho | Template |\n|---------|----------|\n| \"ano atual vs anterior\", \"YoY total\", \"crescimento anual\" | 5.1 YoY Proporcional |\n| \"comparar meses entre anos\", \"mesmo mês ano passado\" | 5.1.1 YoY Mensal |\n| \"YTD\", \"acumulado do ano\" | 5.2 YTD |\n| \"MTD\", \"acumulado do mês\" | 5.3 MTD |\n| \"mês atual vs anterior\", \"este mês vs mês passado\" | 5.4 MoM Proporcional |\n| \"últimos N meses\", \"evolução mensal\" (sem variação) | 5.5 Evolução Mensal |\n| \"variação mensal\", \"mês contra mês anterior\", \"crescimento mês a mês\" | 5.6 Variação Sequencial |\n\n═══════════════════════════════════════════════════════════\n\n## 5. TEMPLATES DE COMPARAÇÃO TEMPORAL\n\n⚠️ **IMPORTANTE:** `dTabelaData` nos templates abaixo é placeholder. Substituir pelo nome real da tabela de data do schema (ex: dPeriodo, dCalendario).\n\n### 5.1 YoY (Year over Year) - Comparação Proporcional\n**Gatilhos:** YoY, vs ano passado, ano atual vs anterior, crescimento anual\n\n⚠️ **Regra:** Comparar mesmo período (01/01 até data atual em ambos os anos)\n\n```dax\nDEFINE\n  VAR _DataHoje = {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\n  VAR _AnoAtual = YEAR(_DataHoje)\n  VAR _AnoAnterior = _AnoAtual - 1\n  VAR _InicioAnoAtual = DATE(_AnoAtual, 1, 1)\n  VAR _InicioAnoAnterior = DATE(_AnoAnterior, 1, 1)\n  VAR _FimAnoAnterior = DATE(_AnoAnterior, MONTH(_DataHoje), DAY(_DataHoje))\n  VAR _Atual = CALCULATE([Medida], dTabelaData[data] >= _InicioAnoAtual, dTabelaData[data] <= _DataHoje{{ $('RuleRLS').first().json.regra }})\n  VAR _Anterior = CALCULATE([Medida], dTabelaData[data] >= _InicioAnoAnterior, dTabelaData[data] <= _FimAnoAnterior{{ $('RuleRLS').first().json.regra }})\nEVALUATE\nROW(\"Ano Atual (até \" & FORMAT(_DataHoje, \"DD/MM\") & \")\", _Atual, \"Ano Anterior (até \" & FORMAT(_FimAnoAnterior, \"DD/MM\") & \")\", _Anterior, \"Variação %\", DIVIDE(_Atual - _Anterior, _Anterior) * 100)\n```\n\n### 5.1.1 YoY Mensal (Evolução mês a mês comparando anos)\n**Gatilhos:** comparar meses do ano atual com ano passado, evolução mensal YoY\n\n```dax\nDEFINE\n  VAR _DataHoje = {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\n  VAR _AnoAtual = YEAR(_DataHoje)\n  VAR _AnoAnterior = _AnoAtual - 1\nEVALUATE\nADDCOLUMNS(\n  SUMMARIZECOLUMNS(dTabelaData[mes], dTabelaData[mesnome]),\n  \"Ano Atual\",\n    VAR _MesLinha = dTabelaData[mes]\n    RETURN CALCULATE([Medida], YEAR(dTabelaData[data]) = _AnoAtual, dTabelaData[mes] = _MesLinha{{ $('RuleRLS').first().json.regra }}),\n  \"Ano Anterior\",\n    VAR _MesLinha = dTabelaData[mes]\n    RETURN CALCULATE([Medida], YEAR(dTabelaData[data]) = _AnoAnterior, dTabelaData[mes] = _MesLinha{{ $('RuleRLS').first().json.regra }}),\n  \"Variação %\",\n    VAR _MesLinha = dTabelaData[mes]\n    VAR _Atual = CALCULATE([Medida], YEAR(dTabelaData[data]) = _AnoAtual, dTabelaData[mes] = _MesLinha{{ $('RuleRLS').first().json.regra }})\n    VAR _Anterior = CALCULATE([Medida], YEAR(dTabelaData[data]) = _AnoAnterior, dTabelaData[mes] = _MesLinha{{ $('RuleRLS').first().json.regra }})\n    RETURN DIVIDE(_Atual - _Anterior, _Anterior) * 100\n)\nORDER BY dTabelaData[mes] ASC\n```\n\n### 5.2 YTD vs YTD Anterior (Comparação Proporcional)\n**Gatilhos:** YTD, acumulado do ano\n\n⚠️ **Regra:** Compara 01/01 até data atual em ambos os anos\n\n```dax\nDEFINE\n  VAR _DataHoje = {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\n  VAR _AnoAtual = YEAR(_DataHoje)\n  VAR _AnoAnterior = _AnoAtual - 1\n  VAR _DataEquivalenteAnterior = DATE(_AnoAnterior, MONTH(_DataHoje), DAY(_DataHoje))\n  VAR _YTDAtual = CALCULATE([Medida], dTabelaData[data] >= DATE(_AnoAtual, 1, 1), dTabelaData[data] <= _DataHoje{{ $('RuleRLS').first().json.regra }})\n  VAR _YTDAnterior = CALCULATE([Medida], dTabelaData[data] >= DATE(_AnoAnterior, 1, 1), dTabelaData[data] <= _DataEquivalenteAnterior{{ $('RuleRLS').first().json.regra }})\nEVALUATE\nROW(\"YTD Atual (até \" & FORMAT(_DataHoje, \"DD/MM\") & \")\", _YTDAtual, \"YTD Anterior (até \" & FORMAT(_DataEquivalenteAnterior, \"DD/MM\") & \")\", _YTDAnterior, \"Variação %\", DIVIDE(_YTDAtual - _YTDAnterior, _YTDAnterior) * 100)\n```\n\n### 5.3 MTD (Month to Date)\n**Gatilhos:** MTD, acumulado do mês\n\n```dax\nDEFINE\n  VAR _DataHoje = {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\nEVALUATE\nROW(\"MTD\", CALCULATE([Medida], MONTH(dTabelaData[data]) = MONTH(_DataHoje), YEAR(dTabelaData[data]) = YEAR(_DataHoje), dTabelaData[data] <= _DataHoje{{ $('RuleRLS').first().json.regra }}))\n```\n\n### 5.4 MoM (Month over Month) - Comparação Proporcional\n**Gatilhos:** MoM, mês atual vs anterior, este mês vs mês passado\n\n⚠️ **Regra:** Comparar mesmo número de dias (01 até dia atual em ambos os meses)\n\n```dax\nDEFINE\n  VAR _DataHoje = {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\n  VAR _DiaAtual = DAY(_DataHoje)\n  VAR _MesAtual = MONTH(_DataHoje)\n  VAR _AnoAtual = YEAR(_DataHoje)\n  VAR _MesAnterior = IF(_MesAtual = 1, 12, _MesAtual - 1)\n  VAR _AnoMesAnterior = IF(_MesAtual = 1, _AnoAtual - 1, _AnoAtual)\n  VAR _InicioMesAtual = DATE(_AnoAtual, _MesAtual, 1)\n  VAR _InicioMesAnterior = DATE(_AnoMesAnterior, _MesAnterior, 1)\n  VAR _FimMesAnterior = DATE(_AnoMesAnterior, _MesAnterior, _DiaAtual)\n  VAR _Atual = CALCULATE([Medida], dTabelaData[data] >= _InicioMesAtual, dTabelaData[data] <= _DataHoje{{ $('RuleRLS').first().json.regra }})\n  VAR _Anterior = CALCULATE([Medida], dTabelaData[data] >= _InicioMesAnterior, dTabelaData[data] <= _FimMesAnterior{{ $('RuleRLS').first().json.regra }})\nEVALUATE\nROW(\"Mês Atual (até dia \" & _DiaAtual & \")\", _Atual, \"Mês Anterior (até dia \" & _DiaAtual & \")\", _Anterior, \"Variação %\", DIVIDE(_Atual - _Anterior, _Anterior) * 100)\n```\n\n### 5.5 Evolução Mensal (Últimos N Meses)\n**Gatilhos:** últimos 6 meses, evolução mensal\n\n```dax\nDEFINE\n  VAR _DataHoje = {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\n  VAR _MesesAtras = 6\n  VAR _DataInicio = DATE(YEAR(_DataHoje), MONTH(_DataHoje) - _MesesAtras + 1, 1)\nEVALUATE\nCALCULATETABLE(\n  SUMMARIZECOLUMNS(dTabelaData[ano], dTabelaData[mes], dTabelaData[mesnome], \"Total\", [Medida]),\n  dTabelaData[data] >= _DataInicio, dTabelaData[data] <= _DataHoje{{ $('RuleRLS').first().json.regra }}\n)\nORDER BY dTabelaData[ano] ASC, dTabelaData[mes] ASC\n```\n\n### 5.6 Variação Mensal Sequencial (Mês vs Mês Anterior)\n**Gatilhos:** variação mensal, mês contra mês anterior, evolução mês a mês, crescimento mensal\n\n⚠️ **Regra:** Cada mês comparado com o mês imediatamente anterior (Jan/25 vs Dez/24, Fev/25 vs Jan/25, etc.)\n\n```dax\nDEFINE\n  VAR _DataHoje = {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\n  VAR _MesesAtras = 12\n  VAR _DataInicio = DATE(YEAR(_DataHoje), MONTH(_DataHoje) - _MesesAtras + 1, 1)\n  VAR _Meses = CALCULATETABLE(\n    SUMMARIZECOLUMNS(dTabelaData[ano], dTabelaData[mes], dTabelaData[mesnome]),\n    dTabelaData[data] >= _DataInicio, dTabelaData[data] <= _DataHoje{{ $('RuleRLS').first().json.regra }}\n  )\nEVALUATE\nADDCOLUMNS(\n  _Meses,\n  \"Valor Mês\",\n    VAR _AnoLinha = dTabelaData[ano]\n    VAR _MesLinha = dTabelaData[mes]\n    RETURN CALCULATE([Medida], dTabelaData[ano] = _AnoLinha, dTabelaData[mes] = _MesLinha{{ $('RuleRLS').first().json.regra }}),\n  \"Valor Mês Anterior\",\n    VAR _AnoLinha = dTabelaData[ano]\n    VAR _MesLinha = dTabelaData[mes]\n    VAR _MesAnterior = IF(_MesLinha = 1, 12, _MesLinha - 1)\n    VAR _AnoMesAnterior = IF(_MesLinha = 1, _AnoLinha - 1, _AnoLinha)\n    RETURN CALCULATE([Medida], dTabelaData[ano] = _AnoMesAnterior, dTabelaData[mes] = _MesAnterior{{ $('RuleRLS').first().json.regra }}),\n  \"Variação %\",\n    VAR _AnoLinha = dTabelaData[ano]\n    VAR _MesLinha = dTabelaData[mes]\n    VAR _MesAnterior = IF(_MesLinha = 1, 12, _MesLinha - 1)\n    VAR _AnoMesAnterior = IF(_MesLinha = 1, _AnoLinha - 1, _AnoLinha)\n    VAR _Atual = CALCULATE([Medida], dTabelaData[ano] = _AnoLinha, dTabelaData[mes] = _MesLinha{{ $('RuleRLS').first().json.regra }})\n    VAR _Anterior = CALCULATE([Medida], dTabelaData[ano] = _AnoMesAnterior, dTabelaData[mes] = _MesAnterior{{ $('RuleRLS').first().json.regra }})\n    RETURN DIVIDE(_Atual - _Anterior, _Anterior) * 100\n)\nORDER BY dTabelaData[ano] ASC, dTabelaData[mes] ASC\n```\n\n═══════════════════════════════════════════════════════════\n\n## 6. MAPEAMENTO TEMPORAL\n\n⚠️ **Nota:** `dTabelaData` nos exemplos é placeholder. Substituir pelo nome real da tabela de data do schema.\n\n| Expressão | Filtro DAX |\n|-----------|------------|\n| hoje | `<TabelaData>[data] = _DataHoje` |\n| ontem | `<TabelaData>[data] = _DataHoje - 1` |\n| este mês | `MONTH(<TabelaData>[data]) = MONTH(_DataHoje), YEAR(<TabelaData>[data]) = YEAR(_DataHoje)` |\n| mês passado | `MONTH(<TabelaData>[data]) = IF(MONTH(_DataHoje)=1,12,MONTH(_DataHoje)-1), YEAR(<TabelaData>[data]) = IF(MONTH(_DataHoje)=1,YEAR(_DataHoje)-1,YEAR(_DataHoje))` |\n| este ano | `YEAR(<TabelaData>[data]) = YEAR(_DataHoje)` |\n| últimos X dias | `<TabelaData>[data] >= _DataHoje - X, <TabelaData>[data] <= _DataHoje` |\n\n**Gatilhos implícitos** (atual, corrente, agora) → aplicar \"este mês\"\n\n═══════════════════════════════════════════════════════════\n\n## 7. PADRÕES DAX\n\n⚠️ **Nota:** `dTabelaData` e `dDimensao` nos exemplos são placeholders. Substituir pelos nomes reais do schema.\n\n### Valor Único\n```dax\nDEFINE\n  VAR _DataHoje = {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\nEVALUATE\nROW(\"Total\", CALCULATE([Medida], dTabelaData[data] = _DataHoje - 1{{ $('RuleRLS').first().json.regra }}))\n```\n\n### Agrupado por Dimensão\n```dax\nDEFINE\n  VAR _DataHoje = {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\nEVALUATE\nCALCULATETABLE(\n  SUMMARIZECOLUMNS(dDimensao[Campo], \"Total\", [Medida]),\n  MONTH(dTabelaData[data]) = MONTH(_DataHoje), YEAR(dTabelaData[data]) = YEAR(_DataHoje){{ $('RuleRLS').first().json.regra }}\n)\nORDER BY [Total] DESC\n```\n\n### Top N\n```dax\nDEFINE\n  VAR _DataHoje = {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\nEVALUATE\nTOPN(10,\n  CALCULATETABLE(\n    SUMMARIZECOLUMNS(dDimensao[Campo], \"Total\", [Medida]),\n    MONTH(dTabelaData[data]) = MONTH(_DataHoje), YEAR(dTabelaData[data]) = YEAR(_DataHoje){{ $('RuleRLS').first().json.regra }}\n  ),\n  [Total], DESC\n)\n```\n\n### Agregação Temporal (por dia/mês)\n⚠️ Filtros temporais SEMPRE no CALCULATETABLE externo\n\n```dax\nDEFINE\n  VAR _DataHoje = {{ $('Pegar Data e hora do sistema').first().json.dataHoje }}\nEVALUATE\nTOPN(25,\n  CALCULATETABLE(\n    SUMMARIZECOLUMNS(dTabelaData[data], \"Total\", [Medida]),\n    MONTH(dTabelaData[data]) = MONTH(_DataHoje), YEAR(dTabelaData[data]) = YEAR(_DataHoje){{ $('RuleRLS').first().json.regra }}\n  ),\n  dTabelaData[data], DESC\n)\nORDER BY dTabelaData[data] ASC\n```\n\n═══════════════════════════════════════════════════════════\n\n## 8. CÓDIGOS DE ERRO\n\n```\nCONTEXTO_INSUFICIENTE: Especifique período (hoje, ontem, este mês, últimos X dias)\nMEDIDA_NAO_ENCONTRADA: [nome]\nCAMPO_NAO_ENCONTRADO: [tabela].[campo]\nTABELA_NAO_ENCONTRADA: [nome]\n```\n\n═══════════════════════════════════════════════════════════\n\n## 9. ESCOPO\n\n**FAZ:** Buscar dados, filtrar, rankings, comparações temporais, agregações\n**NÃO FAZ:** Análises de tendência, estatísticas, previsões\n\nPara perguntas analíticas (\"qual está caindo?\", \"qual melhor?\"):\n→ Gerar query SIMPLES com dados necessários\n→ Deixar o assistente IA interpretar\n\n═══════════════════════════════════════════════════════════\n\n## 10. VALIDAÇÃO FINAL (ANTES DE RESPONDER)\n\nVerificar SEMPRE antes de enviar a resposta:\n\n- [ ] Query começa com DEFINE ou EVALUATE (nunca com ```)\n- [ ] Não contém markdown (```dax ou ```)\n- [ ] Não contém comentários (-- ou //)\n- [ ] Tabela de data corresponde ao schema do modelo (não inventar nomes)\n- [ ] Usa apenas medidas do modelo (nunca SUM/COUNT)\n- [ ] Campos e tabelas existem no schema\n- [ ] RLS placeholder está presente\n\n═══════════════════════════════════════════════════════════"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agentTool",
            "typeVersion": 2.2,
            "position": [
                4480,
                768
            ],
            "id": "d59627b9-d436-4f0a-b795-82251d3cebb3",
            "name": "generate_query_dax"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Tratamento Final do Texto').first().json.finalText }}",
                "needsFallback": true,
                "options": {
                    "systemMessage": "=# 🤖 Ellen - Analista de Dados Ellévti v5 (Otimizado)\n\n## Identidade\n\nVocê é **Ellen**, assistente BI da Ellévti conectada ao dados da empresa: {{ $('Pegar parâmetros iniciais').first().json.empresa }}\n**Usuário:** {{ $('Pegar parâmetros iniciais').first().json.nomeuser }}\n\n**Personalidade:** Simpática, profissional e direta. Trata o usuário pelo nome quando disponível.\n\n---\n\n## Saudações\n\nResponda de forma natural e acolhedora, sem usar ferramentas:\n\n| Usuário diz | Ellen responde |\n|-------------|----------------|\n| \"Oi\" / \"Olá\" | \"Oi, [nome]! Como posso ajudar com suas análises hoje?\" |\n| \"Bom dia\" | \"Bom dia, [nome]! Pronta pra te ajudar. O que vamos analisar?\" |\n| \"Boa tarde\" | \"Boa tarde! Em que posso ser útil hoje?\" |\n| \"Boa noite\" | \"Boa noite, [nome]! Ainda dá tempo de olhar uns números. O que precisa?\" |\n| \"Tudo bem?\" | \"Tudo ótimo! E você? Me conta, o que quer descobrir nos dados hoje?\" |\n| \"Como você está?\" | \"Estou bem, obrigada por perguntar! Pronta pra mergulhar nos dados. O que vamos explorar?\" |\n| \"Obrigado/a\" | \"Por nada! Se precisar de mais alguma análise, é só chamar 😊\" |\n| \"Tchau\" / \"Até mais\" | \"Até mais, [nome]! Boas decisões com esses dados! 👋\" |\n\n**Tom:** Amigável mas profissional. Sempre direcione para o próximo passo (análise).\n\n---\n\n## Ferramentas\n\n| Ferramenta | Função |\n|------------|--------|\n| generate_query_dax | Gera query DAX |\n| execute_query | Executa query no Power BI |\n| calculator | Cálculos matemáticos |\n| generate_chart | Gráficos e dashboards |\n\n---\n\n## Fluxos\n\n**Dados:** generate_query_dax → execute_query → resposta\n**Gráfico:** generate_query_dax → execute_query → transformar JSON → generate_chart\n**Dashboard:** múltiplas queries → calcular KPIs → montar JSON → generate_chart\n\n---\n\n## ⚠️ REGRA CRÍTICA: generate_chart\n\nO execute_query retorna **ARRAY**. O generate_chart espera **OBJETO**.\n\n**SEMPRE transforme antes de chamar generate_chart:**\n\n### Gráfico (modo: \"grafico\")\n```json\n{\n  \"modo\": \"grafico\",\n  \"titulo\": \"Faturamento Mensal 2025\",\n  \"tipo\": \"bar\",\n  \"dados\": [\n    {\"categoria\": \"Jan\", \"valor\": 11064637.48},\n    {\"categoria\": \"Fev\", \"valor\": 10445949.80}\n  ],\n  \"observacao\": \"Valores em R$\"\n}\n```\n\n### Dashboard (modo: \"dashboard\")\n```json\n{\n  \"modo\": \"dashboard\",\n  \"titulo\": \"Visão Geral de Vendas\",\n  \"periodo\": \"Novembro 2025\",\n  \"kpis\": [\n    {\"label\": \"Faturamento\", \"valor\": 12388311.13, \"variacao\": 7.79},\n    {\"label\": \"Ticket Médio\", \"valor\": 4520.50, \"variacao\": -2.3}\n  ],\n  \"graficos\": [\n    {\n      \"titulo\": \"Por Mês\",\n      \"tipo\": \"bar\",\n      \"dados\": [{\"categoria\": \"Jan\", \"valor\": 11064637.48}]\n    },\n    {\n      \"titulo\": \"Por Vendedor\",\n      \"tipo\": \"pie\", \n      \"dados\": [{\"categoria\": \"João\", \"valor\": 2845670.00}]\n    }\n  ]\n}\n```\n\n**Tipos:** bar (comparação), line (evolução), pie/doughnut (distribuição)\n\n**Gatilhos:** \"gráfico/chart\" → modo grafico | \"dashboard/painel/visão geral\" → modo dashboard\n\n---\n\n## Regras de Query\n\n- Execute query EXATAMENTE como recebida (contém filtros RLS)\n- NUNCA modifique, remova ou otimize\n\n---\n\n## Formato de Resposta (Adaptativo)\n\n### Tipo 1: Valor Único\n```\n📊 Faturamento — Novembro 2025\n\nR$ 12.388.311,13\n\n💡 +7,8% vs outubro | Maior valor do trimestre\n\n```\n\n### Tipo 2: Lista/Ranking (até 5 itens)\n```\n📊 Top 5 Vendedores — Novembro 2025\n\n• João Silva: R$ 2.845.670 (23%)\n• Maria Santos: R$ 2.456.890 (19,8%)\n• Pedro Costa: R$ 1.987.450 (16%)\n• Ana Oliveira: R$ 1.654.320 (13,4%)\n• Carlos Lima: R$ 1.432.109 (11,6%)\n\n💡 Top 2 concentram 42,8% — alta dependência\n\n```\n\n### Tipo 3: Lista Grande (6+ itens) ou Comparativo\n```\n📊 Vendas 2025 vs 2024 (mensal)\n\nAcumulado: R$ 135,5M vs R$ 112,6M → +20,3%\n\n• Janeiro: R$ 11,0M vs R$ 8,9M → +23,7%\n• Fevereiro: R$ 10,4M vs R$ 9,3M → +12%\n[...]\n\n💡 10 de 12 meses positivos | Setembro (+20%) anomalia | Maio único negativo\n\n🎯 Investigar Setembro — o que puxou?\n```\n\n### Tipo 4: Gráfico/Dashboard\n```\n📊 Faturamento Mensal 2025\n\n[GRÁFICO/DASHBOARD]\n\n💡 Outubro foi o pico (+24% vs média)\n\n```\n\n---\n\n## Quando Incluir Cada Elemento\n\n| Elemento | Gatilho |\n|----------|---------|\n| **Resumo** | Só se houver 6+ itens na lista |\n| **Insight** | Só se houver: variação >10%, anomalia, padrão identificável ou concentração relevante |\n| **Recomendação** | Só se houver: anomalia que exige investigação OU queda/problema identificado |\n| **Continuidade** | Sempre — oferecer próximo passo natural (\"Quer ver por X?\") |\n\n### Regra de Ouro\n> **Se não tem nada relevante a dizer, não invente.** Melhor uma resposta curta e precisa do que longa e genérica.\n\n---\n\n## Formatação\n\n- Moeda: R$ 1.234,56 (abreviar milhões: R$ 12,3M)\n- Percentual: +12,3% ou -5,7%\n- Separador de insights: use `|` para manter em 1 linha\n- Sem asteriscos, negrito ou itálico\n- Sem valores zero\n\n---\n\n## Insights: Análise vs Narração\n\n| ❌ Narração (proibido) | ✅ Análise (fazer) |\n|------------------------|-------------------|\n| \"Setembro foi destaque\" | \"Setembro (+20%) cresceu 2x a média\" |\n| \"A maioria cresceu\" | \"10 de 12 meses positivos\" |\n| \"Maio caiu\" | \"Maio único negativo — investigar\" |\n| \"Foi um bom mês\" | \"+15% vs meta, maior desde março\" |\n\n**Regra:** Sempre quantificar. Se não tem número, não é insight.\n\n---\n\n## Proibições\n\n- Inventar dados\n- Expor queries/código\n- Modificar queries\n- Narrar sem analisar\n- Passar array direto para generate_chart"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                4416,
                464
            ],
            "id": "0834f2b1-9719-413c-ac0f-343f3d85b4b1",
            "name": "Analista de Dados"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.toolThink",
            "typeVersion": 1.1,
            "position": [
                4752,
                1040
            ],
            "id": "1f773e02-0d37-4679-a027-9c59929792e5",
            "name": "Think"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "claude-sonnet-4-5-20250929",
                    "cachedResultName": "Claude Sonnet 4.5"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                4368,
                1040
            ],
            "id": "5915e0c4-8bf6-4749-bba7-2e5408f12822",
            "name": "Anthropic Chat Model1",
            "disabled": true
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.toolThink",
            "typeVersion": 1.1,
            "position": [
                1376,
                96
            ],
            "id": "f1de1e94-17fe-41e9-9799-24d781f55b7e",
            "name": "Think1"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "claude-opus-4-5-20251101",
                    "mode": "list",
                    "cachedResultName": "Claude Opus 4.5"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                1040,
                80
            ],
            "id": "f530af50-cc77-4c42-9d19-68c0425ada74",
            "name": "Anthropic Chat Model2",
            "disabled": true
        },
        {
            "parameters": {
                "url": "http://192.168.42.150:3001/api/prompts/n8n/2/garra-distribuidora",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                3920,
                464
            ],
            "id": "cdf986d5-76d3-4380-b41a-bd7148d1682f",
            "name": "Get promtp Garra dist"
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "transcribe",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 2.1,
            "position": [
                -2800,
                832
            ],
            "id": "521e1355-9324-4123-8d6f-900a143d782b",
            "name": "Transcribe a recording",
            "credentials": {
                "openAiApi": {
                    "id": "HMVlpl2oRbGtj5oI",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "data.base64",
                "options": {
                    "fileName": "audio.mp3",
                    "mimeType": "audio/mpeg"
                }
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                -3024,
                832
            ],
            "id": "5df7f84c-3754-42d8-9959-add6fa7ebe77",
            "name": "Convert to File"
        },
        {
            "parameters": {
                "resource": "chat-api",
                "operation": "get-media-base64",
                "instanceName": "={{ $('Edit Fields').item.json.instance }}",
                "messageId": "={{ $('Edit Fields').item.json.messageId }}"
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                -3248,
                832
            ],
            "id": "eb8ddd98-ed03-4cba-a259-06a6fba84611",
            "name": "Obter Áudio",
            "credentials": {
                "evolutionApi": {
                    "id": "cVzNB76XW71UDdmI",
                    "name": "Evolution account 2"
                }
            }
        },
        {
            "parameters": {
                "path": "653ee4fc-9f97-44ce-9890-97621f7ea0b2",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -4064,
                912
            ],
            "id": "c5614d43-edaa-491a-8d08-6e5d83df3184",
            "name": "Webhook1",
            "webhookId": "653ee4fc-9f97-44ce-9890-97621f7ea0b2"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-5-mini"
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                -720,
                1072
            ],
            "id": "d675912b-d8bb-4074-bcd0-aab87bfe1736",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "HMVlpl2oRbGtj5oI",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Pegar parâmetros iniciais').first().json.numeroid }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
            "typeVersion": 1.5,
            "position": [
                -352,
                1056
            ],
            "id": "b8958623-318f-4cdb-be73-ae590a157154",
            "name": "Chat Memory Classificador",
            "credentials": {
                "redis": {
                    "id": "Rto02day9KdGWH6p",
                    "name": "Redis account 2"
                }
            }
        }
    ],
    "connections": {
        "OpenAI Chat Model3": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Classificador de intencoes",
                        "type": "ai_languageModel",
                        "index": 1
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "Pegar Id do WorkSpace",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Pegar Id do WorkSpace",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Pegar Id do WorkSpace",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Listar os Relatorios",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "IDs do relatório solicitado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model2": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "IDs do relatório solicitado": {
            "main": [
                [
                    {
                        "node": "Indicador de Digitando2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tratar o retorno": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Unificar o campo": {
            "main": [
                [
                    {
                        "node": "AppAzure",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IA para Transcrever Voz em Texto": {
            "main": [
                []
            ]
        },
        "Tratamento do Texto": {
            "main": [
                [
                    {
                        "node": "Tratamento Final do Texto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tratamento Final do Texto": {
            "main": [
                [
                    {
                        "node": "Unificar o campo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "AI Classificador de intencoes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar o Token": {
            "main": [
                [
                    {
                        "node": "If4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Atualizar o Token": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "If4": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AppAzure": {
            "main": [
                [
                    {
                        "node": "Buscar o Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Code Tool1": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Code": {
            "main": [
                [
                    {
                        "node": "Merge das Saídas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When Executed by generate_chart": {
            "main": [
                [
                    {
                        "node": "Gerador de Gráfico1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Organiza Campos e Tabelas": {
            "main": [
                [
                    {
                        "node": "Merge do Resultado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Organiza as Medidas Visiveis": {
            "main": [
                [
                    {
                        "node": "Merge do Resultado",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Unificar Saída": {
            "main": [
                [
                    {
                        "node": "Indicador de Digitando1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge do Resultado": {
            "main": [
                [
                    {
                        "node": "Unificar Saída",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge das Saídas": {
            "main": [
                [
                    {
                        "node": "Wait3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model4": {
            "ai_languageModel": [
                [
                    {
                        "node": "Listar os Relatorios",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory1": {
            "ai_memory": [
                [
                    {
                        "node": "Listar os Relatorios",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Code Tool": {
            "ai_tool": [
                [
                    {
                        "node": "Listar os Relatorios",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Listar os Relatorios": {
            "main": [
                [
                    {
                        "node": "Merge das Saídas",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Indicador de Digitando": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar mensagem": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Code2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait3": {
            "main": [
                [
                    {
                        "node": "Indicador de Digitando",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code2": {
            "main": [
                [
                    {
                        "node": "Enviar mensagem",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Indicador de Digitando1": {
            "main": [
                [
                    {
                        "node": "Rules",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar mensagem1": {
            "main": [
                [
                    {
                        "node": "Upload da Imagem1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Indicador de Digitando2": {
            "main": [
                [
                    {
                        "node": "Wait4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait4": {
            "main": [
                [
                    {
                        "node": "Enviar mensagem1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Envio do PDF": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload da Imagem1": {
            "main": [
                [
                    {
                        "node": "Envio do PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GetAudio URL": {
            "main": [
                [
                    {
                        "node": "BaixarAudio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BaixarAudio": {
            "main": [
                [
                    {
                        "node": "IA para Transcrever Voz em Texto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait1": {
            "main": [
                [
                    {
                        "node": "ScanEstagio2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Atualizar o Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pegar Id do WorkSpace": {
            "main": [
                [
                    {
                        "node": "ScanEstagio1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ScanEstagio1": {
            "main": [
                [
                    {
                        "node": "Wait1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ScanEstagio2": {
            "main": [
                [
                    {
                        "node": "ScanEstagio3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ScanEstagio3": {
            "main": [
                [
                    {
                        "node": "Organiza Campos e Tabelas",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Organiza as Medidas Visiveis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "lista_relatorios1": {
            "ai_tool": [
                [
                    {
                        "node": "Listar os Relatorios",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "lista_relatorios": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Classificador de intencoes": {
            "main": [
                [
                    {
                        "node": "Tratar o retorno",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Memória do Classificador": {
            "ai_memory": [
                []
            ]
        },
        "Anthropic Chat Model": {
            "ai_languageModel": [
                []
            ]
        },
        "Webhook": {
            "main": [
                []
            ]
        },
        "If3": {
            "main": [
                [
                    {
                        "node": "Obter Áudio",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Tratamento do Texto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pegar parâmetros iniciais": {
            "main": [
                [
                    {
                        "node": "If3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pegar Data e hora do sistema": {
            "main": [
                [
                    {
                        "node": "Get promtp Garra dist",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rules": {
            "main": [
                [
                    {
                        "node": "semregra",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "rca1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "rca2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "semregra": {
            "main": [
                [
                    {
                        "node": "RuleRLS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "rca1": {
            "main": [
                [
                    {
                        "node": "RuleRLS",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "rca2": {
            "main": [
                [
                    {
                        "node": "RuleRLS",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "RuleRLS": {
            "main": [
                [
                    {
                        "node": "Pegar Data e hora do sistema",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gerador de Gráfico1": {
            "main": [
                [
                    {
                        "node": "HTML/CSS to Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTML/CSS to Image": {
            "main": [
                [
                    {
                        "node": "Envio do Gráfico1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic Chat Model3": {
            "ai_languageModel": [
                [
                    {
                        "node": "Analista de Dados",
                        "type": "ai_languageModel",
                        "index": 1
                    }
                ]
            ]
        },
        "OpenAILLM": {
            "ai_languageModel": [
                [
                    {
                        "node": "Analista de Dados",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "n8n_wts_analise": {
            "ai_memory": [
                [
                    {
                        "node": "Analista de Dados",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "execute_query": {
            "ai_tool": [
                [
                    {
                        "node": "Analista de Dados",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "generate_chart": {
            "ai_tool": [
                [
                    {
                        "node": "Analista de Dados",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "calculator": {
            "ai_tool": [
                [
                    {
                        "node": "Analista de Dados",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "generate_query_dax": {
            "ai_tool": [
                [
                    {
                        "node": "Analista de Dados",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Analista de Dados": {
            "main": [
                [
                    {
                        "node": "Code",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Think": {
            "ai_tool": [
                [
                    {
                        "node": "generate_query_dax",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "generate_query_dax",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Think1": {
            "ai_tool": [
                [
                    {
                        "node": "Gerador de Gráfico1",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic Chat Model2": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gerador de Gráfico1",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Get promtp Garra dist": {
            "main": [
                [
                    {
                        "node": "Analista de Dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transcribe a recording": {
            "main": [
                [
                    {
                        "node": "Tratamento Final do Texto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convert to File": {
            "main": [
                [
                    {
                        "node": "Transcribe a recording",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obter Áudio": {
            "main": [
                [
                    {
                        "node": "Convert to File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook1": {
            "main": [
                [
                    {
                        "node": "Pegar parâmetros iniciais",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Classificador de intencoes",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Chat Memory Classificador": {
            "ai_memory": [
                [
                    {
                        "node": "AI Classificador de intencoes",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "When Executed by generate_chart": [
            {
                "json": {
                    "modo": "grafico",
                    "titulo": "Comparativo Consolidado Jan–Nov 2024 x 2025",
                    "tipo": "bar",
                    "dados": [
                        {
                            "categoria": "Faturamento 2024",
                            "valor": 32472749.2
                        },
                        {
                            "categoria": "Faturamento 2025",
                            "valor": 29670625.88
                        },
                        {
                            "categoria": "Mix 2024",
                            "valor": 834
                        },
                        {
                            "categoria": "Mix 2025",
                            "valor": 701
                        },
                        {
                            "categoria": "Margem 2024",
                            "valor": 4596986.71
                        },
                        {
                            "categoria": "Margem 2025",
                            "valor": 4025497.79
                        },
                        {
                            "categoria": "Positivação 2024",
                            "valor": 722
                        },
                        {
                            "categoria": "Positivação 2025",
                            "valor": 677
                        }
                    ],
                    "observacao": "Valores financeiros em R$; demais indicadores em unidades"
                },
                "numerdoid": "556296783084",
                "conversa": "Gera um gráfico de barras deste resultado",
                "token_whatsapp": "EAASYatSuw0UBPPSU4kuXa750O3zdnn6zRWzfFX8ZA2WeHqBOgGdZAurltNZBCZCdh7GH40P4y1qPgmheJ32ploNHsrWZCZCmK6OE2xCrw069ZBfTMHSP3FBIGXCfyQXLzDLtq153hy4nRZArfOM6JrpOPfQwOImzBWUqC0FfJZC3R4vZCAMJbjLY9hAYuBZBKXBwZByk4gZDZD"
            }
        ],
        "Webhook": [
            {
                "headers": {
                    "host": "n8n.ellevti.com.br",
                    "user-agent": "axios/1.12.0",
                    "content-length": "559",
                    "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
                    "accept-encoding": "gzip, compress, deflate, br",
                    "content-type": "application/json",
                    "x-forwarded-host": "n8n.ellevti.com.br",
                    "x-forwarded-port": "443",
                    "x-forwarded-proto": "https",
                    "x-forwarded-server": "2d90fe2d327e"
                },
                "params": {},
                "query": {},
                "body": {
                    "numeroid": "556296783084",
                    "rule": "semregra",
                    "groupid": "e38c2f6f-8366-4d73-82df-c1b5ec28a159",
                    "datasetid": "45658aa8-46fa-49e2-a374-17555bde51de",
                    "conversa": "Gera um gráfico de barras deste resultado",
                    "nomeuser": "Thiago Batista Ferreira",
                    "empresa": "Ellevti",
                    "token_whatsapp": "EAASYatSuw0UBPPSU4kuXa750O3zdnn6zRWzfFX8ZA2WeHqBOgGdZAurltNZBCZCdh7GH40P4y1qPgmheJ32ploNHsrWZCZCmK6OE2xCrw069ZBfTMHSP3FBIGXCfyQXLzDLtq153hy4nRZArfOM6JrpOPfQwOImzBWUqC0FfJZC3R4vZCAMJbjLY9hAYuBZBKXBwZByk4gZDZD",
                    "tipo": "text",
                    "message_id": "wamid.HBgMNTU2Mjk2NzgzMDg0FQIAEhgUM0IwQTEyNEE1RThFRjk2MEU5RUYA",
                    "audio_id": null
                },
                "webhookUrl": "https://n8n.ellevti.com.br/webhook/ellevtidemo",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "instanceId": "812f1f962762e530a6fdb15d4677a9afb0f336d03c8e51609710224b26cbca54"
    }
}